* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: grid;
  align-items: center;
  height: 100svh;
  background-color: #bbe1c3;
}

.container {
  max-width: 50em;
  padding: 1.4em;
}

p {
  padding: 0 1rem;
}

img,
p {
  margin-bottom: 1.4rem;
}

button {
  color: #fdfdfd;
  background-color: #869d7a;
  margin-top: 1rem;
  border: 0;
  padding: 1.2rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}
